* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.btn {
    display: block;
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
    &--red {
        background-color: $color1;
        color: #Fff;
    }
    &--white {
        background-color: transparent;
        color: #000;
        border: 2xp solid #000;
    }

    &__flash {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(-85px);
        -ms-transform: translateX(-85px);
        transform: translateX(-85px);
        -webkit-animation-name: flash;
        animation-name: flash;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        animation-name: flash;
        &::after {
            content: "";
            background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
            width: 45px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 30px;
            -webkit-transform: skewX(-45deg);
            -ms-transform: skewX(-45deg);
            transform: skewX(-45deg);
        }
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1230px;
    }
}

.title {
    margin-top: 0;
    font-size: rem(42);
    margin-bottom: rem(40);
    text-align: center;
}

span {
    color: $color1;
}

.text {
    font-weight: 300;
    line-height: 1.5;
    &--sm {
        font-size: rem(20);
    }
    &--lg {
        font-size: rem(24);
    }
}

.text--md {
    font-size: rem(22);
}

.lg-backdrop {
    background-color: #fff;
}

.lg-toolbar {
    background-color: #fff;
}

.form {
    display: flex;
    &--row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__input {
        width: 37.44%;    
        height: 56px;
        box-sizing: border-box;
        color: #000000;
        border: 1px solid #000000;
        background-color: #ffffff;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        font-size: 16px;
        padding: 0 20px;
        &::placeholder {
            font-size: 16px;
        }
        input {
            width: 100%;
            height: 100%;
            border: none;
            font-size: 16px;
            &:focus {
                outline: none;
            }
            
        }
    }
    
    &__phone {
        padding-right: 20px;
        .iti {
            width: 100%;
            height: 100%;
        }
        .iti__flag {
            background-color: #c5c5c5;
            -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
            box-shadow: 0 0 5px rgba(0,0,0,.3);
        }
        .iti__flag-container:hover .iti__selected-flag {
            background: transparent;
        }
        .iti__country-list {
            margin-left: -20px;
        }
        ul {
            border-radius: 10px;
        }
        .iti__country-name {
            color: #000;
            font-size: 14px;
        }
        .iti__dial-code {
            margin-left: auto;
        }
    }   

    &__label {
        display: none;
        background-color: #F95D51;
        font-size: 20px;
        width: 100%;
        margin-top: 20px;
        color: #fff;
        font-weight: 300;
        padding: 20px 0;
        &.error {
            display: block;
        }
        &.right {
            display: block;
            background-color: #62C584;
        }
    }

    &__btn {
        max-width: 163px;
        height: 56px;
        font-size: 16px;
        padding: 0 40px;
        border: 1px solid #000;
    }

    &__agree {
        text-align: center;
        margin-left: auto;
        margin-top: rem(30);
        font-size: 15px;
        font-weight: 300;
        margin-right: auto;
        a {
            font-family: Ubuntu, Arial, sans-serif;
            font-size: 17px;
            text-align: center;
            box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset;
            color: rgb(116, 116, 116);
            text-decoration: none;
        }
    }
}